<html>
<body>

<div style="max-width: 600px;margin:20px auto;font-family: Arial;">

	<div style="background: #3ba1da;padding: 0 20px;color: #fff;font-size: 16px;font-weight: normal;border-radius: 5px 5px 0 0;">
		<div style="float:left;padding: 15px 0;">{site_name}</div>
		<div style="float:right;padding: 7px 0 0 0;"><a href="{user_profile_link}"><img src="{user_avatar_url}" width="32" height="32" alt="" style="border-radius: 3px;border: 2px solid #fff;background: #fff;" /></a></div>
		<div style="clear:both"></div>
	</div>
	
	<div style="padding: 20px;border: 1px solid #ccc;border-top: 0;border-radius: 0 0 5px 5px;color: #444;">