<div style="font-size: 13px;margin-bottom: 20px;">Thank you for signing up with {site_name}! Your account is now active.</div>

<div style="font-size: 13px;margin-bottom: 4px;">To login please visit the following url:</div>

<div style="font-size: 13px;margin-bottom: 20px;">{login_url}</div>

<div style="font-size: 13px;margin-bottom: 4px;"><b>Your account e-mail</b>: {email}</div>
<div style="font-size: 13px;margin-bottom: 4px;"><b>Your account username</b>: {username}</div>
<div style="font-size: 13px;margin-bottom: 20px;"><b>Your account password</b>: {password}</div>